data/
wandb/
__pycache__/
output/
constellation/
constellation_diagrams/
.DS_Store
*.pth
atik/
checkpoints/
confusion_matrices/
f1_scores/
test/
perturbed_constellations/
scratch/

# Don't ignore ELSP paper results - we want to track these
!papers/ELSP_Paper/results/

perturbed_constellations_old/
