[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
numpy = "<2"
pandas = "*"
matplotlib = "*"
captum = "*"
wandb = "*"
scikit-learn = "*"
tqdm = "*"
h5py = "*"
torchviz = "*"
torchview = "*"
scipy = "*"
opencv-python = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"